$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$font-item: 'Exo', sans-serif;
$font-detail: 'Poiret One', cursive;


$default-border-radius : 10px;